.features {
  @include container;
  padding-bottom: 57px;
  overflow: hidden;

  @include tablet {
    padding-right: 27px;
    padding-left: 27px;
    padding-top: 70px;
    padding-bottom: 60px;
    background-color: $white;
    color: $c-text;
  }

  @include mobile {
    padding: 26px 20px 20px;
  }
}

.features__inner-wrapper {
  overflow: visible;

  @include mobile {
    overflow: hidden;
  }
}

.features__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: $c-text-light;
  box-sizing: border-box;

  @include tablet {
    color: $c-text;
    justify-content: center;
  }

  @include mobile {
    width: 100%;
    box-sizing: content-box;
    justify-content: flex-start;
    flex-wrap: nowrap;
  }
}

.features__item {
  width: 17%;
  flex-shrink: 1;
  position: relative;
  padding: 110px 5px 15px;
  text-align: center;
  font-size: 15px;

  @media (max-width: $medium - 1) and (min-width: $small) {
    width: 32%;
    padding: 95px 30px 29px;
    font-size: 12px;
    line-height: 1.33;
    background-color: $white;
    box-shadow: 0 10px 18px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    opacity: 0.7;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    &--active {
      z-index: 1;
      cursor: default;
      opacity: 1;
      transform: scale(1.2);
    }
  }

  @include mobile {
    width: 100%;
    flex-shrink: 0;
    box-sizing: border-box;
    font-size: 14px;
    padding: 120px 20px 33px;
    border: 1px solid $c-border;
  }

  p {
    margin: 0;
    margin-bottom: 10px;
  }

  .features__icon {
    @include centerH;
    top: 10px;
    width: 90px;
    height: 90px;
    overflow: hidden;

    svg {
      @include center;
      max-width: 100%;
      fill: $white;
    }

    @media (max-width: $medium - 1) and (min-width: $small) {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;

      svg {
        fill: #4c4c4c;
      }

      .features-item--active & {
        opacity: 1;
      }
    }

    @include mobile {
      top: 20px;
      opacity: 1;

      svg {
        fill: #4c4c4c;
      }

      .features-item--active & {
        opacity: 1;
      }
    }
  }
}

.features__indicators {
  left: 50%;
  transform: translateX(-50%);

  @include list-reset;
  display: none;
  width: 150px;
  margin: 22px auto 0;
  justify-content: center;

  @include tablet {
    display: flex;
  }

  @include mobile {
    margin-top: 10px;
  }

  span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #dddddd;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      background-color: $primary;
    }

    @include mobile {
      width: 6px;
      height: 6px;
      background-color: #dddddd;
      opacity: 1;

      &.active {
        background-color: #dddddd;
      }

      &.swiper-pagination-bullet-active {
        background-color: $primary;
        transform: scale(1.2);
      }
    }
  }
}
