.hero {
  padding-top: 150px;
  padding-bottom: 100px;

  @include tablet {
    padding-top: 125px;
    padding-bottom: 130px;
    padding-left: 83px;
    padding-right: 65px;
    background: linear-gradient(to top, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 50%),
      $dark url("../img/banner.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    color: $c-text-light;

    @include retina {
      background: linear-gradient(to top, rgba(13, 13, 13, 0.5) 0%, rgba(13, 13, 13, 0) 50%),
        $dark url("../img/banner@2x.jpg") no-repeat;
      background-size: cover;
      background-position: center;
    }
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    padding-top: 128px;
    padding-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    background-size: 848px 477px;
    background-position: 60% top;
    background-repeat: no-repeat;
  }
}

.hero__title {
  margin: 0;
  font-size: 72px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-family: $font-alt;
  font-weight: 800;

  @include tablet {
    font-size: 38px;
  }

  @include mobile {
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
  }
}

.hero__text {
  margin: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 13%;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.58;

  @include tablet {
    font-size: 16px;
    line-height: 1.2;
    padding-right: 25px;
  }

  span {
    color: $primary;
  }

  &--short {
    display: none;

    @include mobile {
      display: block;
      text-align: center;
      padding-right: 15px;
      padding-left: 15px;
      font-weight: 400;
    }
  }

  &--long {
    @include mobile {
      order: 1;
      color: $c-text;
      font-size: 12px;
      line-height: 19px;
      padding-top: 32px;
      padding-right: 20px;
      padding-left: 22px;
      margin-left: -20px;
      margin-right: -20px;
      width: calc(100% + 40px);
      background-color: $white;

      span {
        color: $c-text;
      }
    }
  }
}

.hero__btn-block {
  margin-top: 30px;

  @include tablet {
    margin-top: 68px;
  }

  @include mobile {
    margin-top: 40px;
    margin-bottom: 42px;
  }
}

.hero__btn {
  width: 300px;
  margin-right: 16px;

  @include tablet {
    width: 290px;
  }

  @include mobile {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
