.main-nav {
  &--header {
    padding-bottom: 4px;

    @include tablet {
      padding-bottom: 0;
      display: none;
      position: absolute;
      z-index: 10;
      left: 0;
      top: 100%;
      width: 50%;

      &.show {
        display: block;
      }

      .no-js & {
        display: block;
        position: static;
        order: 1;
        width: 100%;
      }
    }
  }

  @include mobile {
    width: 100%;
  }
}

.main-nav__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;

  .main-nav--header & {
    @include tablet {
      flex-direction: column;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 8px 10px;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;

  &[href]:hover {
    color: $c-text;
  }

  &[href]:active {
    color: rgba($c-text, 0.4);
  }

  &--active {
    color: $c-text;
  }

  .main-nav--header & {
    @include tablet {
      padding: 14px 14px;
      background-color: $c-bg;
      font-size: 12px;
    }
  }

  @include mobile {
    font-size: 12px;
    padding: 13px 20px 12px;
  }
}

.main-nav__item {
  .main-nav--header & {
    @include tablet {
      position: relative;
      background-color: $c-border;
      border-bottom: 1px solid $c-border;

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.main-nav--footer {
  @include mobile {
    flex-direction: column;
  }

  .main-nav__item {
    @include mobile {
      width: 100%;
    }
  }

  .main-nav__link {
    margin-left: 18px;
    font-size: 12px;
    text-transform: none;

    &[href]:hover {
      color: $white;
    }

    &[href]:active {
      color: $white;
    }

    @include mobile {
      margin-left: 0;
      border-bottom: 1px solid rgba($white, 0.6);
      padding: 17px 20px 16px;
      text-align: left;
      font-size: 14px;
    }
  }
}
