.page-footer__bottom {
  padding-top: 56px;
  padding-bottom: 40px;
  background-color: $dark;
  color: rgba($c-text-light, 0.9);
  border-top: 2px solid $primary;

  @include tablet {
    padding-top: 26px;
  }

  @include mobile {
    border-top: none;
    padding: 0;
    background-color: #1a1a1a;
  }
}

.page-footer__wrapper {
  @include container;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $large) {
    padding-right: 64px;
    padding-left: 64px;
  }

  @include mobile {
    padding: 0;
  }
}

.page-footer__col-left {
  width: 210px;
  margin-right: 7.34%;
  padding-top: 7px;
  flex-shrink: 0;

  @media (max-width: $large) {
    order: 1;
    width: 100%;
    margin-right: 0;
    margin-top: 42px;
    padding-bottom: 27px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba($white, 0.1);
  }

  @include mobile {
    flex-wrap: wrap;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 0;
    border-bottom: none;
  }
}

.page-footer__col-right {
  width: 215px;
  margin-left: 6.753%;
  flex-shrink: 0;

  @media (max-width: $large) {
    margin-left: 14%;
  }

  @include tablet {
    width: 187px;
    margin-left: 5.8%;
  }

  @include mobile {
    margin: 0;
    width: 100%;
    order: -1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 19px;
    padding-bottom: 18px;
    background-color: $dark;
    display: flex;
    justify-content: center;
    border-top: 2px solid $primary;
  }
}

.page-footer__col-center {
  margin-top: -243px;
  flex-shrink: 0;
  width: 580px;

  @media (max-width: $large) {
    width: 53.9%;
    margin-top: -143px;
  }

  @include tablet {
    width: 64.8%;
  }

  @include mobile {
    width: 100%;
    margin-top: 0;
  }
}

.page-footer__contacts-list {
  &--show-on-mobile {
    display: none;

    @include mobile {
      display: block;
      padding-top: 16px;
    }
  }
}

.page-footer__nav {
  display: none;

  @media (max-width: $large) {
    display: block;
    margin-left: 20px;
    margin-top: 2px;
  }

  @include mobile {
    width: calc(100% + 44px);
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
  }
}

.page-footer__logo {
  display: block;
  width: 141px;
  margin-bottom: 56px;

  img {
    display: block;
  }

  @media (max-width: $large) {
    display: none;
  }
}

.page-footer__company-name {
  margin-bottom: 52px;
  color: rgba($white, 0.7);

  @media (max-width: $large) {
    color: rgba($white, 0.5);
    width: 135px;
    margin: 0;
    font-size: 12px;
  }

  @include mobile {
    display: none;
  }
}

.page-footer__socials {
  @media (max-width: $large) {
    width: 13.8%;
    margin-top: 9px;
    margin-left: 34px;
  }

  @include mobile {
    margin-left: 0;
    width: 100%;
    margin-top: 8px;
  }
}

.page-footer__copyright {
  width: 100%;
  margin-top: 78px;
  order: 3;

  p {
    margin: 0;
    font-size: 10px;
    color: rgba($c-text-light, 0.5);
    text-align: center;
    letter-spacing: 0.6px;
  }

  @media (max-width: $large) {
    margin-top: 23px;
  }

  @include mobile {
    padding-top: 16px;
    padding-bottom: 15px;
    padding-right: 60px;
    padding-left: 60px;
    margin-top: 37px;
    background-color: $dark;
  }
}
