.project {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 53px 10px 10px 30px;
  min-height: 290px;
  color: $c-text-light;
  background: $dark center no-repeat;
  background-size: cover;
  transition: opacity 0.2s;

  &:active {
    opacity: 0.8;
  }

  @include tablet {
    min-height: 180px;
    padding: 44px 100px 10px 42px;
  }

  @include mobile {
    padding: 20px;
    align-items: center;
    justify-content: center;
  }

  @include mobile {
    min-height: 100px;
  }

  &--large {
    padding-top: 42px;

    @include mobile {
      padding-top: 20px;
    }
  }
}

.project__bg-img {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.project__title {
  position: relative;
  z-index: 1;
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;

  @include tablet {
    margin-bottom: 14px;
  }

  @include mobile {
    font-size: 16px;
    margin-bottom: 0;
  }

  .project--large & {
    margin-bottom: 37px;
    font-size: 32px;

    @include tablet {
      font-size: 24px;
      margin-bottom: 14px;
    }

    @include mobile {
      font-size: 16px;
      margin-bottom: 0;
    }
  }
}

.project__description {
  position: relative;
  z-index: 1;

  p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 1.46;
    color: rgba($c-text-light, 0.6);

    @include tablet {
      font-size: 18px;
      line-height: 1.22;
    }
  }

  @include mobile {
    display: none;
  }
}

.project__more-btn {
  margin-top: auto;
  align-self: flex-end;

  .project:hover & {
    background-color: $primary;
    border-color: $primary;
    color: #575757;
  }

  @include tablet {
    display: none;
  }
}
